form {
    font-weight: 900;
    border-radius: 5px;
    padding: 30px;
}

<<<<<<< HEAD
=======

>>>>>>> 83595236a32b802c53aa86cd3a7c5fb061f57040
input {
    box-shadow: 1px 1px 20px rgb(166, 157, 182);
}

.Part-Right {
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
}

.Part-Left {
    padding: 30px;
    height: 100%;
    background-image: url(https://img.freepik.com/free-vector/white-3d-modern-background-design_53876-88246.jpg?size=626&ext=jpg&ga=GA1.2.1913179976.1612396800);
    background-repeat: no-repeat;
    background-size: cover;
    color: #1259C2;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: overlay;
    background-image: url("https://i.pinimg.com/736x/fa/00/e0/fa00e080f08e4e0184811e0ff84e813c.jpg"), linear-gradient(45deg, #7809f79a, #1259C2);
}

.sign-button {
    border-radius: 20px;
    color: #1259C2;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

.Part-img {
    height: 150px;
    border-radius: 100px;
    margin-top: 150px;
}

p {
    text-align: justify;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}