body {
    background: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    background-repeat: no-repeat;
    background-size: cover;
}

.SingUp {
    padding: 5%;
}

.bg-theme {
    /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

form {
    padding: 2%;
}

form:Hover {
    box-shadow: 1px 1px 10px black;
    padding: 2%;
    border-radius: 10px;
}

input {
    border: 0px;
    border-bottom: 2px solid blue;
}