.SingUp {
    padding: 5%;
}

.bg-theme {
    /* background-image: linear-gradient(to left top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1); */
}

<<<<<<< HEAD
.volunteer-header {
    background: white;
    margin-top: 15px;
    padding: 10px;
=======
.volunteer-header
{
    background:white;
    margin-top:15px;
    padding:10px;
}
.Volunteer_Profile_Pic
{
    height:30px;
    width:30px;
    border-radius:42px;
    box-shadow:0px 0px 10px #6d6868;
    background:black;
}
#Current_User, h1, h2, h3, h4, h5, h6
{
    color:#0E610E;
}
.update_volunteer_section
{
    display:none;
}
.ProjectSection
{
    background:white;
    float:left;
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
}
.Notification_Message
{
    width:25%;
    display:none;
    padding:10px;
    background:white;
    box-shadow:0px 0px 10px #f7f7f7;
    position:fixed;
    right:20px;
    bottom:20px;
    z-index:10;
>>>>>>> f50271a0cad8eb195ea46d55c58434d110cdf72d
}

.Quick_Overview {
    background: white;
    margin-top: 20px;
    transition: all ease 0.5s;
}

.Quick_Overview:hover {
    background: #C6DDC6;
}
<<<<<<< HEAD
.Volunteers_List, .Active_Volunteers_List, .Deactivated_Volunteers_List
{
    display:none;
=======

.Volunteers_List,
.Active_Volunteers_List {
    display: none;
>>>>>>> 511b3ed3c207740544cf2a2999f8fb09094ee8db
}

.pointer {
    cursor: pointer;
}